[submodule "node_modules/js-git"]
	url = git@github.com:creationix/js-git.git
	ref = refs/heads/master
	prefix = hxxoud1j-s4nzbl
	path = node_modules/js-git
[submodule "node_modules/git-node-fs"]
	url = git@github.com:creationix/git-node-fs.git
	ref = refs/heads/master
	prefix = hxxovgym-u0yqp5
	path = node_modules/git-node-fs
[submodule "node_modules/bodec"]
	url = git@github.com:creationix/bodec.git
	ref = refs/heads/master
	prefix = hxxoxynd-q406d5
	path = node_modules/bodec
[submodule "node_modules/pako"]
	url = git@github.com:nodeca/pako.git
	ref = refs/heads/master
	prefix = hxxoy9r5-ipaor8
	path = node_modules/pako
[submodule "node_modules/git-sha1"]
	url = git@github.com:creationix/git-sha1.git
	ref = refs/heads/master
	prefix = hxxoyjii-es3e2b
	path = node_modules/git-sha1
[submodule "node_modules/pathjoin"]
	url = git@github.com:creationix/pathjoin.git
	ref = refs/heads/master
	prefix = hxxoyqca-879k58
	path = node_modules/pathjoin
[submodule "node_modules/gen-run"]
	url = git@github.com:creationix/gen-run.git
	ref = refs/heads/master
	prefix = hxxp60p1-133q490
	path = node_modules/gen-run
[submodule "node_modules/simple-mime"]
	url = git@github.com:creationix/simple-mime.git
	ref = refs/heads/master
	prefix = hxxrj6b1-15iopjn
	path = node_modules/simple-mime
[submodule "node_modules/mine"]
	url = git@github.com:creationix/mine.git
	ref = refs/heads/master
	prefix = hxz78n0d-s2r7tu
	path = node_modules/mine
[submodule "node_modules/culvert"]
	url = git@github.com:creationix/culvert.git
	ref = refs/heads/master
	prefix = hy0n5qlb-1lp91ew
	path = node_modules/culvert
[submodule "node_modules/wheaty-js-runtime"]
	url = git@github.com:creationix/wheaty-js-runtime.git
	ref = refs/heads/master
	prefix = hy0rfhwr-avwws0
	path = node_modules/wheaty-js-runtime
